<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To Dos</title>
	<link rel="stylesheet" href="src/index.css">
</head>
<body>
	<main>
		<div class="container">
			<h1>To Dos</h1>
			<input type="text" placeholder="What has to be done?" v-model="newTodo" @keyup="store($event, newTodo)" />

			<ul>
				<li v-for="toDo in toDos">
					<span v-if="!toDo.edit">
						<input type="checkbox" v-model="toDo.finished" @click="finishe(toDo)" />
						<span :class="toDo.finished ? 'todo-finished' : ''" @dblclick="edit(toDo)">
							{{toDo.description}}
						</span>
					</span>
					<span v-else>
						<input type="text" v-model="toDo.description" @keyup="update($event, toDo)" @blur="cancelUpdate(toDo)" />
					</span>
					<button @click="remove(toDo)">X</button>
				</li>
			</ul>
		</div>
	</main>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./src/index.js"></script>
</body>
</html>